body{
    width: 100%;
    height: 100%;
    background-color: #49c5b6;
    display: flex;
    justify-content: center;
    align-content: center;
}
table{
    width: 80%; 
    height: 15em
}
td, th { 
    border: 2px solid black;
    background-color: #C38D9E;
}